In [1]:
import pandas as pd
import numpy as np
# https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.from_csv.html
event_key = '2017txlu'
matches_file = event_key + '_matches.csv'
stats_file = event_key + '_stats.csv'
experience_file = event_key + '_rookieyear.csv'
matches = pd.DataFrame.from_csv(matches_file)
stats = pd.DataFrame.from_csv(stats_file)
experience = pd.DataFrame.from_csv(experience_file)
teams = pd.merge(experience, stats, on = "team")
matches.head()

        b1       b2       b3  bscore       r1       r2       r3  rscore level
0  frc3847  frc1477   frc159     265   frc935  frc1817  frc4063     231     f
1  frc3847  frc1477   frc159     195   frc935  frc1817  frc4063     284     f
2  frc3847  frc1477   frc159     220   frc935  frc1817  frc4063     241     f
3   frc935  frc1817  frc4063     260  frc5866  frc3366  frc2468     180    qf
4   frc935  frc1817  frc4063     159  frc5866  frc3366  frc2468     495    qf

In [13]:
teams = experience["team"].tolist()
teams

['frc1164',
 'frc118',
 'frc1477',
 'frc159',
 'frc1817',
 'frc192',
 'frc2164',
 'frc2341',
 'frc2352',
 'frc2395',
 'frc2468',
 'frc2481',
 'frc2613',
 'frc2657',
 'frc3043',
 'frc3305',
 'frc3366',
 'frc3735',
 'frc3847',
 'frc4063',
 'frc418',
 'frc4298',
 'frc4301',
 'frc4364',
 'frc4499',
 'frc4603',
 'frc4694',
 'frc4696',
 'frc4717',
 'frc4734',
 'frc4799',
 'frc5312',
 'frc5411',
 'frc5550',
 'frc5572',
 'frc5613',
 'frc5771',
 'frc5783',
 'frc5829',
 'frc5866',
 'frc5888',
 'frc5960',
 'frc6144',
 'frc624',
 'frc6430',
 'frc935']

In [5]:
df_teams = pd.DataFrame(columns = teams)
df_teams

Empty DataFrame
Columns: [frc1164, frc118, frc1477, frc159, frc1817, frc192, frc2164, frc2341, frc2352, frc2395, frc2468, frc2481, frc2613, frc2657, frc3043, frc3305, frc3366, frc3735, frc3847, frc4063, frc418, frc4298, frc4301, frc4364, frc4499, frc4603, frc4694, frc4696, frc4717, frc4734, frc4799, frc5312, frc5411, frc5550, frc5572, frc5613, frc5771, frc5783, frc5829, frc5866, frc5888, frc5960, frc6144, frc624, frc6430, frc935]
Index: []

[0 rows x 46 columns]

In [2]:
qm = matches.loc[matches["level"] == "qm"]
qm.head()

         b1       b2       b3  bscore       r1       r2       r3  rscore level
14  frc2481   frc192  frc3366     259   frc935  frc6430   frc624     220    qm
15  frc5888  frc4603  frc6144     145  frc3735   frc935  frc4734      55    qm
16  frc5771   frc624  frc4694     115  frc3847   frc159  frc5550     140    qm
17  frc4063  frc2468  frc3366     278  frc5411  frc3305  frc5783      80    qm
18  frc5829  frc4696  frc5960     155  frc5866  frc6430  frc1817     110    qm

In [20]:
# https://erikrood.com/Python_References/rows_cols_python.html
# https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.reset_index.html
team = "frc624"
blue_team = qm.loc[(qm["b1"] == team) | (qm["b2"] == team) | (qm["b3"] == team)]
red_team = qm.loc[(qm["r1"] == team) | (qm["r2"] == team) | (qm["r3"] == team)]
indiv_team = pd.concat([blue_team, red_team])
indiv_team.reset_index(inplace = True)
indiv_team

,index,b1,b2,b3,bscore,r1,r2,r3,rscore,level
0,16,frc5771,frc624,frc4694,115,frc3847,frc159,frc5550,140,qm
1,24,frc3366,frc159,frc624,355,frc4364,frc4063,frc118,178,qm
2,42,frc6144,frc624,frc5312,136,frc1477,frc5411,frc6430,170,qm
3,56,frc1477,frc3305,frc624,140,frc935,frc3847,frc5829,90,qm
4,65,frc5829,frc2613,frc624,250,frc5866,frc4734,frc4298,5,qm
5,94,frc624,frc5572,frc3735,246,frc5960,frc5771,frc2468,90,qm
6,14,frc2481,frc192,frc3366,259,frc935,frc6430,frc624,220,qm
7,29,frc2341,frc5783,frc4298,90,frc2657,frc4696,frc624,252,qm
8,50,frc1164,frc2395,frc4603,171,frc4499,frc624,frc4717,199,qm
9,74,frc935,frc4799,frc4696,210,frc2164,frc2352,frc624,205,qm
10,83,frc192,frc3043,frc1817,195,frc624,frc5888,frc5613,15,qm

In [14]:
# https://stackoverflow.com/questions/22963263/creating-a-zero-filled-pandas-data-frame
teams.append("score")

In [23]:
matrix = pd.DataFrame(0, index = np.arange(len(indiv_team)), columns = teams)
matrix

,frc1164,frc118,frc1477,frc159,frc1817,frc192,frc2164,frc2341,frc2352,frc2395,...,frc5783,frc5829,frc5866,frc5888,frc5960,frc6144,frc624,frc6430,frc935,score
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [25]:

for index, row in indiv_team.iterrows():
    b1 = row["b1"]
    b2 = row["b2"]
    b3 = row["b3"]
    blue = []
    blue.extend([b1, b2, b3])
    bscore = row["bscore"]
    r1 = row["r1"]
    r2 = row["r2"]
    r3 = row["r3"]
    red = []
    red.extend([r1, r2, r3])
    rscore = row["rscore"]
    if team in blue:
        matrix.loc[index, b1] = 1
        matrix.loc[index, b2] = 1
        matrix.loc[index, b3] = 1
        matrix.loc[index, "score"] = bscore
    else:
        matrix.loc[index, r1] = 1
        matrix.loc[index, r2] = 1
        matrix.loc[index, r3] = 1
        matrix.loc[index, "score"] = rscore

In [26]:
name = "frc624.csv"
matrix.to_csv(name)

In [39]:
new_row = matrix.sum(axis = 0)
new_row

frc1164       1
frc118        1
frc1477       2
frc159        2
frc1817       1
frc192        2
frc2164       1
frc2341       1
frc2352       1
frc2395       1
frc2468       1
frc2481       1
frc2613       1
frc2657       1
frc3043       1
frc3305       1
frc3366       2
frc3735       1
frc3847       2
frc4063       1
frc418        0
frc4298       2
frc4301       0
frc4364       1
frc4499       1
frc4603       1
frc4694       1
frc4696       2
frc4717       1
frc4734       1
frc4799       1
frc5312       1
frc5411       1
frc5550       1
frc5572       1
frc5613       1
frc5771       2
frc5783       1
frc5829       2
frc5866       1
frc5888       1
frc5960       1
frc6144       1
frc624       11
frc6430       2
frc935        3
score      2133
dtype: int64

In [40]:
m = np.zeros((len(teams), len(teams)))
m

array([[ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       ...,
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.]])

In [41]:
m[0, :] = new_row
m

array([[  1.00000000e+00,   1.00000000e+00,   2.00000000e+00, ...,
          2.00000000e+00,   3.00000000e+00,   2.13300000e+03],
       [  0.00000000e+00,   0.00000000e+00,   0.00000000e+00, ...,
          0.00000000e+00,   0.00000000e+00,   0.00000000e+00],
       [  0.00000000e+00,   0.00000000e+00,   0.00000000e+00, ...,
          0.00000000e+00,   0.00000000e+00,   0.00000000e+00],
       ...,
       [  0.00000000e+00,   0.00000000e+00,   0.00000000e+00, ...,
          0.00000000e+00,   0.00000000e+00,   0.00000000e+00],
       [  0.00000000e+00,   0.00000000e+00,   0.00000000e+00, ...,
          0.00000000e+00,   0.00000000e+00,   0.00000000e+00],
       [  0.00000000e+00,   0.00000000e+00,   0.00000000e+00, ...,
          0.00000000e+00,   0.00000000e+00,   0.00000000e+00]])

In [42]:
M = m.copy()
M = M[:, 0:len(teams)]
M

array([[  1.00000000e+00,   1.00000000e+00,   2.00000000e+00, ...,
          2.00000000e+00,   3.00000000e+00,   2.13300000e+03],
       [  0.00000000e+00,   0.00000000e+00,   0.00000000e+00, ...,
          0.00000000e+00,   0.00000000e+00,   0.00000000e+00],
       [  0.00000000e+00,   0.00000000e+00,   0.00000000e+00, ...,
          0.00000000e+00,   0.00000000e+00,   0.00000000e+00],
       ...,
       [  0.00000000e+00,   0.00000000e+00,   0.00000000e+00, ...,
          0.00000000e+00,   0.00000000e+00,   0.00000000e+00],
       [  0.00000000e+00,   0.00000000e+00,   0.00000000e+00, ...,
          0.00000000e+00,   0.00000000e+00,   0.00000000e+00],
       [  0.00000000e+00,   0.00000000e+00,   0.00000000e+00, ...,
          0.00000000e+00,   0.00000000e+00,   0.00000000e+00]])

In [43]:
s = m.copy()
s = s[:, -1]
s

array([ 2133.,     0.,     0.,     0.,     0.,     0.,     0.,     0.,
           0.,     0.,     0.,     0.,     0.,     0.,     0.,     0.,
           0.,     0.,     0.,     0.,     0.,     0.,     0.,     0.,
           0.,     0.,     0.,     0.,     0.,     0.,     0.,     0.,
           0.,     0.,     0.,     0.,     0.,     0.,     0.,     0.,
           0.,     0.,     0.,     0.,     0.,     0.,     0.])