In [124]:
from functools import reduce
import requests
import numpy as np
import pandas as pd
import scipy.sparse
import scipy.sparse.linalg
# https://github.com/frc1418/tbapy/blob/master/tbapy/main.py
base_url= "https://www.thebluealliance.com/api/v3/"
auth_key = 'fge7icVbwIkRUkYKFb7Bj045jGELlWspOnCTxJnhkC9jqiLRjE0VBR4ACcez4vxo'

# https://www.dataquest.io/blog/python-api-tutorial/
# https://www.digitalocean.com/community/tutorials/how-to-use-web-apis-in-python-3
# https://www.dataquest.io/blog/python-api-tutorial/
# https://www.dataquest.io/blog/python-api-tutorial/
headers = {"X-TBA-Auth-Key": auth_key}

path = 'C:/Users/Ithier/Documents/CSCI 29/Grad Project/FIRST/Data/'

In [125]:
# Get a list of the event keys we are going to go through
url = base_url + 'events/2017'
response = requests.get(url, headers = headers)
data = response.json()
event_keys = []
for i in range(0,len(data)):
    event_keys.append(data[i]["key"])

Let's define some helper functions before we get started.

In [126]:
# Get the number of years the team has existed
def get_experience(event_key, headers):
    """ 
        @param event_key: the event we are interested in
        @param headers: the authorizations key
        @return df_rookie_year: a dataframe with the teams and the number of years each team has existed
    """
    url = base_url + 'event/' + event_key + '/teams'
    response = requests.get(url, headers = headers)
    data = response.json()

    # create a dataframe of the team and rookie year
    # https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.append.html
    df_rookieyear = pd.DataFrame(columns = ["team", "experience"])
    for i in range(0, len(data)):
        name = data[i]["key"]
        year = 2017 - data[i]["rookie_year"]
        df_rookieyear = df_rookieyear.append({"team": name, "experience": year}, ignore_index = True)
    return df_rookieyear

In [127]:
# Get stats on the team like number of wins and losses
def get_stats(event_key, headers):
    """ 
        @param event_key: the event we are interested in
        @param headers: the authorizations key
        @return df_stats: a dataframe with the teams and stats for that team like number of wins, losses, ties, etc
    """
    url = base_url + 'event/' + event_key + '/rankings'
    response = requests.get(url, headers = headers)
    data = response.json()
    rankings = data["rankings"]
    df_stats = pd.DataFrame(columns = ["team", "rank", "wins", "losses", "ties", "points", "auto", "rotor", "touchpad", "pressure"])
    for i in range(0, len(rankings)):
        team = rankings[i]["team_key"]
        rank = rankings[i]["rank"]
        wins = rankings[i]["record"]["wins"]
        losses = rankings[i]["record"]["losses"]
        ties = rankings[i]["record"]["ties"]
        points = rankings[i]["sort_orders"][1]
        auto = rankings[i]["sort_orders"][2]
        rotor = rankings[i]["sort_orders"][3]
        touchpad = rankings[i]["sort_orders"][4]
        pressure = rankings[i]["sort_orders"][5]
        df_stats = df_stats.append({"team": team, "rank": rank, "wins": wins, "losses": losses, "ties": ties, "points": points, "auto": auto, "rotor": rotor, "touchpad": touchpad, "pressure": pressure}, ignore_index = True)
    return df_stats

In [128]:
# Get the match data for the competition
def get_matches(event_key, headers):
    """ 
        @param event_key: the event we are interested in
        @param headers: the authorizations key
        @return df_matches: a dataframe with the blue alliance teams and score and the red alliance team and score
    """
    url = base_url + 'event/' + event_key + '/matches/simple'
    response = requests.get(url, headers = headers)
    data = response.json()
    df_matches = pd.DataFrame(columns = ["b1", "b2", "b3", "bscore", "r1", "r2", "r3", "rscore", "level"])
    for i in range(0, len(data)):
        b1 = data[i]["alliances"]["blue"]["team_keys"][0]
        b2 = data[i]["alliances"]["blue"]["team_keys"][1]
        b3 = data[i]["alliances"]["blue"]["team_keys"][2]
        bscore = data[i]["alliances"]["blue"]["score"]
        r1 = data[i]["alliances"]["red"]["team_keys"][0]
        r2 = data[i]["alliances"]["red"]["team_keys"][1]
        r3 = data[i]["alliances"]["red"]["team_keys"][2]
        rscore = data[i]["alliances"]["red"]["score"]
        level = data[i]["comp_level"]
        df_matches = df_matches.append({"b1": b1, "b2": b2, "b3": b3, "bscore": bscore, "r1": r1, "r2": r2, "r3": r3, "rscore": rscore, "level": level}, ignore_index = True)
    return df_matches

In [129]:
# Create alliance info like average rank, average OPR, total number of wins, etc
def alliance(row, teams):
    """ 
        @param row: row from lambda fn using apply
        @param teams: dataframe with team statistic information
        @return : series with information of each alliance
    """
    # blue stats
    blue = teams.loc[(teams["team"] == row[0]) | (teams["team"] == row[1]) | (teams["team"] == row[2])]
    b_score = row[3]
    blue = blue.copy()
    blue.drop(["team"], axis = 1, inplace = True)
    # get the sum of things we want
    sum_blue = blue.apply(np.sum, axis = 0)
    b_experience = sum_blue["experience"]
    b_wins = sum_blue["wins"]
    b_losses = sum_blue["losses"]
    b_ties = sum_blue["ties"]
    b_points = sum_blue["points"]
    b_auto = sum_blue["auto"]
    b_rotor = sum_blue["rotor"]
    b_touchpad = sum_blue["touchpad"]
    b_pressure = sum_blue["pressure"]
    # get the average of things we want
    avg_blue = blue.apply(np.mean, axis = 0)
    b_rank = avg_blue["rank"]
    b_OPR = avg_blue["OPR"]
    b_DPR = avg_blue["DPR"]
    b_CCWM = avg_blue["CCWM"]
    
    # Red stats
    red = teams.loc[(teams["team"] == row[0]) | (teams["team"] == row[1]) | (teams["team"] == row[2])]
    r_score = row[7]
    red = red.copy()
    red.drop(["team"], axis = 1, inplace = True)
    sum_red = red.apply(np.sum, axis = 0)
    r_experience = sum_red["experience"]
    r_wins = sum_red["wins"]
    r_losses = sum_red["losses"]
    r_ties = sum_red["ties"]
    r_points = sum_red["points"]
    r_auto = sum_red["auto"]
    r_rotor = sum_red["rotor"]
    r_touchpad = sum_red["touchpad"]
    r_pressure = sum_red["pressure"]
    # get the average of things we want
    avg_red = red.apply(np.mean, axis = 0)
    r_rank = avg_red["rank"]
    r_OPR = avg_red["OPR"]
    r_DPR = avg_red["DPR"]
    r_CCWM = avg_red["CCWM"]
    # get level of competition (qualification vs elimanation)
    level = row["level"]
    
    return pd.Series([b_score, r_score, b_experience, b_wins, b_losses, b_ties, b_points, b_auto, b_rotor, b_touchpad, b_pressure, b_rank, b_OPR, b_DPR, b_CCWM, r_experience, r_wins, r_losses, r_ties, r_points, r_auto, r_rotor, r_touchpad, r_pressure, r_rank, r_OPR, r_DPR, r_CCWM, level])

def calculateAlliance(matches, teams):
    """ 
        @param matches: dataframe with match information
        @param teams: dataframe with team statistics
        @return df: dataframe with alliance statistics that are summed or averaged of the individual teams
    """
    df = matches.apply(lambda row: alliance(row, teams), axis = 1)
    df.columns = ["b_score", "r_score", "b_experience", "b_wins", "b_losses", "b_ties", "b_points", "b_auto", "b_rotor", "b_touchpad", "b_pressure", "b_rank", "b_OPR", "b_DPR", "b_CCWM", "r_experience", "r_wins", "r_losses", "r_ties", "r_points", "r_auto", "r_rotor", "r_touchpad", "r_pressure", "r_rank", "r_OPR", "r_DPR", "r_CCWM", "level"]
    return df

In [130]:
# Get the offensive player rating (OPR)
# https://erikrood.com/Python_References/rows_cols_python.html
# https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.reset_index.html
# http://book.pythontips.com/en/latest/enumerate.html
# # https://stackoverflow.com/questions/22963263/creating-a-zero-filled-pandas-data-frame
def OPR(teams, qm):
    """ 
        @param teams: list of team names
        @param qm: dataframe with qualification match information
        @return OPR: list with OPR scores for each team
    """
    teams.append("score")
    m = np.zeros((len(teams), len(teams)))
    for counter, team in enumerate(teams):
        # create dataframe of only games played by one team
        blue_team = qm.loc[(qm["b1"] == team) | (qm["b2"] == team) | (qm["b3"] == team)]
        red_team = qm.loc[(qm["r1"] == team) | (qm["r2"] == team) | (qm["r3"] == team)]
        indiv_team = pd.concat([blue_team, red_team])
        indiv_team.reset_index(inplace = True)
        matrix = pd.DataFrame(0, index = np.arange(len(indiv_team)), columns = teams)
        # update dataframe with scores and who played in the match
        for index, row in indiv_team.iterrows():
            b1 = row["b1"]
            b2 = row["b2"]
            b3 = row["b3"]
            blue = []
            blue.extend([b1, b2, b3])
            bscore = row["bscore"]
            r1 = row["r1"]
            r2 = row["r2"]
            r3 = row["r3"]
            red = []
            red.extend([r1, r2, r3])
            rscore = row["rscore"]
            if team in blue:
                matrix.loc[index, b1] = 1
                matrix.loc[index, b2] = 1
                matrix.loc[index, b3] = 1
                matrix.loc[index, "score"] = bscore
            else:
                matrix.loc[index, r1] = 1
                matrix.loc[index, r2] = 1
                matrix.loc[index, r3] = 1
                matrix.loc[index, "score"] = rscore
        new_row = matrix.sum(axis = 0)
        m[counter, :] = new_row
    M = m.copy()
    M = M[:, 0:len(teams)-1]
    sM = scipy.sparse.csr_matrix(M)
    s = m.copy()
    s = s[:, -1]
    OPR = scipy.sparse.linalg.lsqr(M,s)[0]
    return OPR

In [131]:
# Get the defensive player rating (DPR)
def DPR(teams, qm):
    """ 
        @param teams: list of team names
        @param qm: dataframe with qualification match information
        @return DPR: list with DPR scores for each team
    """
    m = np.zeros((len(teams), len(teams)))
    for counter, team in enumerate(teams):
        # create dataframe of only games played by one team
        blue_team = qm.loc[(qm["b1"] == team) | (qm["b2"] == team) | (qm["b3"] == team)]
        red_team = qm.loc[(qm["r1"] == team) | (qm["r2"] == team) | (qm["r3"] == team)]
        indiv_team = pd.concat([blue_team, red_team])
        indiv_team.reset_index(inplace = True)
        matrix = pd.DataFrame(0, index = np.arange(len(indiv_team)), columns = teams)
        # update dataframe with scores and who played in the match
        for index, row in indiv_team.iterrows():
            b1 = row["b1"]
            b2 = row["b2"]
            b3 = row["b3"]
            blue = []
            blue.extend([b1, b2, b3])
            bscore = row["bscore"]
            r1 = row["r1"]
            r2 = row["r2"]
            r3 = row["r3"]
            red = []
            red.extend([r1, r2, r3])
            rscore = row["rscore"]
            if team in blue:
                matrix.loc[index, b1] = 1
                matrix.loc[index, b2] = 1
                matrix.loc[index, b3] = 1
                matrix.loc[index, "score"] = rscore
            else:
                matrix.loc[index, r1] = 1
                matrix.loc[index, r2] = 1
                matrix.loc[index, r3] = 1
                matrix.loc[index, "score"] = bscore
        new_row = matrix.sum(axis = 0)
        m[counter, :] = new_row
    M = m.copy()
    M = M[:, 0:len(teams)-1]
    #https://docs.scipy.org/doc/scipy-0.18.1/reference/generated/scipy.sparse.linalg.lsqr.html
    #https://stackoverflow.com/questions/7922487/how-to-transform-numpy-matrix-or-array-to-scipy-sparse-matrix
    sM = scipy.sparse.csr_matrix(M)
    s = m.copy()
    s = s[:, -1]
    DPR = scipy.sparse.linalg.lsqr(sM, s)[0]
    return DPR

In [132]:
def CCWM(row):
    """
    @param row: row from apply fn
    @return: CCWM for teams
    """
    return row["OPR"] - row["DPR"]

In [134]:
# Function to get OPR, DPR, and Calculated Contribution to Winning Margin (CCWM) and put it in one dataframe
def get_OPR(teams, qm):
    """ 
        @param teams: list of team names
        @param qm: dataframe with qualification match information
        @return df_OPR: dataframe with OPR, DPR, and CCWM for each team
    
    """
    opr = OPR(teams, qm)
    dpr = DPR(teams, qm)
    df_OPR = pd.DataFrame(columns = ["team", "OPR", "DPR", "CCWM"])
    for counter, team in enumerate(teams):
        if team != "score":
            df_OPR = df_OPR.append({"team": team, "OPR": opr[counter], "DPR": dpr[counter]}, ignore_index = True)
    df_OPR["CCWM"] = df_OPR.apply(CCWM, axis = 1)
    return df_OPR

In [135]:
def win_margin(row):
    """
    @param row: row from apply function
    @return: win margin of blue alliance to red alliance
    """
    return row["b_score"] - row["r_score"]

Now let's scrape the data from the Blue Alliance API. We will get the info for all of the events in 2017. It's possible that a team competed in multiple events and their rankings and statistics might be different for each event so we will process each event separately and save the event data to a csv.

In [136]:
# Generate a df with all of the features and targets we want and save to file for each event

event_keys_toload = []
for event in event_keys:
    try:
        experience = get_experience(event, headers)
        stats = get_stats(event, headers)
        matches = get_matches(event, headers)
        # get quarterfinal matches
        qm = matches.loc[matches["level"] == "qm"]
        # https://stackoverflow.com/questions/1966207/converting-numpy-array-into-python-list-structure
        teams = experience["team"].tolist()
        opr = get_OPR(teams, qm)
        my_dfs = [experience, stats, opr]
        total_stats = reduce(lambda x,y: pd.merge(x,y, on = "team"), my_dfs)
        df = calculateAlliance(matches, total_stats)
        df["win_margin"] = df.apply(win_margin, axis = 1)
        name = path + event + '.csv'
        df.to_csv(name)
        event_keys_toload.append(event)
    except:
        print("No data for " + event)

No data for 2017aroz
No data for 2017audd
No data for 2017aurb
No data for 2017bt
No data for 2017cacc
No data for 2017cacg
No data for 2017capb
No data for 2017ckw0
The exact solution is  x = 0
The exact solution is  x = 0
The exact solution is  x = 0
The exact solution is  x = 0
No data for 2017crc
No data for 2017crc2
No data for 2017ctss
No data for 2017flmm
No data for 2017flrc
No data for 2017gagr
No data for 2017glbbb
No data for 2017havoc
No data for 2017inbbb
No data for 2017incm
No data for 2017inrg
No data for 2017iroc
No data for 2017kscup
No data for 2017kybb
No data for 2017mabsb
No data for 2017marc
No data for 2017mems
No data for 2017mibb
The exact solution is  x = 0
The exact solution is  x = 0
No data for 2017mike0
No data for 2017mnmn
No data for 2017mnw0
No data for 2017mogw
No data for 2017mosc
No data for 2017mttd
No data for 2017mvrc
No data for 2017ncth2
The exact solution is  x = 0
The exact solution is  x = 0
No data for 2017nhmm
No data for 2017njbe
No data for 2017njdd
No data for 2017nyhhh
No data for 2017nyhvr
No data for 2017nyrr
No data for 2017nytv
No data for 2017ohri
No data for 2017onsc
No data for 2017orbb
No data for 2017orgg
No data for 2017pagp
No data for 2017parr
No data for 2017pascs
No data for 2017scriw
No data for 2017tnvfrr
No data for 2017turk
No data for 2017txntx
No data for 2017txrm
No data for 2017vamars
No data for 2017varr
No data for 2017warr
No data for 2017wmri
No data for 2017wowcmp

Now let's load the data from each of the events and make one big dataframe with it.

In [137]:
# Load all of the event data and make one big dataframe
# # https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.append.html
for counter, event in enumerate(event_keys_toload):
    filename = path + event + '.csv'
    if counter == 0:
        combined_df = pd.DataFrame.from_csv(filename)
    else:
        df = pd.DataFrame.from_csv(filename)
        combined_df = combined_df.append(df)

In [149]:
for event in event_keys_toload:
    filename = path + event + '.csv'
    df =  pd.DataFrame.from_csv(filename)
    nulls = df.isnull().values.any()
    if nulls:
        print(event + " has null values")

2017cmpmo has null values
2017cmptx has null values
2017micmp has null values
2017nhfoc has null values
2017onsi has null values

In [150]:
filename = path + '2017onsi.csv'
onsi = pd.DataFrame.from_csv(filename)
onsi.head()

,b_score,r_score,b_experience,b_wins,b_losses,b_ties,b_points,b_auto,b_rotor,b_touchpad,...,r_auto,r_rotor,r_touchpad,r_pressure,r_rank,r_OPR,r_DPR,r_CCWM,level,win_margin
0,-1,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,qf,0
1,-1,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,qf,0
2,-1,-1,28.0,8.0,9.0,0.0,2725.0,675.0,1720.0,800.0,...,675.0,1720.0,800.0,0.0,13.666667,58.169733,53.694857,4.474876,qf,0
3,-1,-1,28.0,8.0,9.0,0.0,2725.0,675.0,1720.0,800.0,...,675.0,1720.0,800.0,0.0,13.666667,58.169733,53.694857,4.474876,qf,0
4,-1,-1,28.0,8.0,9.0,0.0,2725.0,675.0,1720.0,800.0,...,675.0,1720.0,800.0,0.0,13.666667,58.169733,53.694857,4.474876,qf,0

Uh oh, it looks like we have some null values in our data set and negative scores which don't make sense. Let's filter those out.

In [153]:
# https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.dropna.html
# https://stackoverflow.com/questions/44133219/removing-negative-values-in-pandas-column-keeping-nan?rq=1
combined_df.dropna(inplace = True)
combined_df = combined_df[(combined_df["b_score"] >= 0) & (combined_df["r_score"] >= 0)]
combined_df.describe()

,b_score,r_score,b_experience,b_wins,b_losses,b_ties,b_points,b_auto,b_rotor,b_touchpad,...,r_points,r_auto,r_rotor,r_touchpad,r_pressure,r_rank,r_OPR,r_DPR,r_CCWM,win_margin
count,17030.000000,17030.000000,17030.000000,17030.000000,17030.000000,17030.000000,17030.000000,17030.000000,17030.000000,17030.000000,...,17030.000000,17030.000000,17030.000000,17030.000000,17030.000000,17030.000000,17030.000000,17030.000000,17030.000000,17030.000000
mean,232.905755,237.442454,21.866001,15.953905,15.119847,0.526072,7070.637052,1400.728655,3626.236054,2659.788608,...,7070.637052,1400.728655,3626.236054,2659.788608,119.165531,21.689724,76.008051,73.399509,2.608542,-4.536700
std,81.659762,86.118846,11.419870,4.170220,4.105445,0.822418,1903.792745,507.931472,897.876006,925.359575,...,1903.792745,507.931472,897.876006,925.359575,154.523468,9.988987,21.552530,18.422077,19.714432,92.648591
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,376.000000,15.000000,200.000000,0.000000,...,376.000000,15.000000,200.000000,0.000000,0.000000,2.000000,8.956568,12.626228,-90.242000,-525.000000
25%,180.000000,180.000000,13.000000,13.000000,12.000000,0.000000,5666.000000,1007.000000,3000.000000,1950.000000,...,5666.000000,1007.000000,3000.000000,1950.000000,28.000000,14.333333,60.441956,60.165301,-10.446203,-63.000000
50%,235.000000,238.000000,21.000000,16.000000,15.000000,0.000000,7006.000000,1362.000000,3640.000000,2600.000000,...,7006.000000,1362.000000,3640.000000,2600.000000,66.000000,19.666667,76.581750,72.234788,2.900593,-3.000000
75%,290.000000,297.000000,29.000000,19.000000,18.000000,1.000000,8516.000000,1764.000000,4260.000000,3350.000000,...,8516.000000,1764.000000,4260.000000,3350.000000,145.000000,27.000000,91.962518,86.350362,15.893074,55.000000
max,557.000000,605.000000,67.000000,31.000000,30.000000,6.000000,11878.000000,2915.000000,5900.000000,5050.000000,...,11878.000000,2915.000000,5900.000000,5050.000000,1441.000000,66.000000,150.332825,148.208562,111.483013,380.000000

In [154]:
# Save dataframe to file
name = path + 'TotalData.csv'
combined_df.to_csv(name)

We have all the data we need. Next we need to separate it into testing and training. The API only allows us to get data on the teams for the qualification matches as a whole. You can't look at the data for something like autonomous for only the first few games. As a result we'll have to use only elimination observations for training and testing. We will have to filter out the elimination data by finding when "level" is equal to ef (eigth final), qf (quarter final), sf (semi final), or f(final).

In [155]:
name = path + 'TotalData.csv'
data = pd.DataFrame.from_csv(name)
data = data.loc[(data["level"] == "ef") | (data["level"] == "qf") | (data["level"] == "sf") | (data["level"] == "f") ]
data.shape

(3099, 30)

Let's divide our data into features and targets.

In [156]:
X = data.drop(["b_score", "r_score", "level", "win_margin"], axis = 1)
X.head()

,b_experience,b_wins,b_losses,b_ties,b_points,b_auto,b_rotor,b_touchpad,b_pressure,b_rank,...,r_ties,r_points,r_auto,r_rotor,r_touchpad,r_pressure,r_rank,r_OPR,r_DPR,r_CCWM
0,26.0,21.0,6.0,0.0,6219.0,1369.0,3220.0,2100.0,19.0,9.000000,...,0.0,6219.0,1369.0,3220.0,2100.0,19.0,9.000000,96.061097,53.367856,42.693241
1,26.0,21.0,6.0,0.0,6219.0,1369.0,3220.0,2100.0,19.0,9.000000,...,0.0,6219.0,1369.0,3220.0,2100.0,19.0,9.000000,96.061097,53.367856,42.693241
2,17.0,16.0,11.0,0.0,5489.0,1316.0,3080.0,1800.0,54.0,17.666667,...,0.0,5489.0,1316.0,3080.0,1800.0,54.0,17.666667,83.458525,77.183317,6.275208
3,17.0,16.0,11.0,0.0,5489.0,1316.0,3080.0,1800.0,54.0,17.666667,...,0.0,5489.0,1316.0,3080.0,1800.0,54.0,17.666667,83.458525,77.183317,6.275208
4,4.0,16.0,11.0,0.0,5711.0,1115.0,2980.0,2050.0,16.0,17.000000,...,0.0,5711.0,1115.0,2980.0,2050.0,16.0,17.000000,88.997695,44.181772,44.815923

In [157]:
y = data["win_margin"]
y.head()

0    -87
1   -160
2    -76
3   -118
4     50
Name: win_margin, dtype: int64

Now let's divide our data into training and testing. For SVM it is important to scale your data so let's do that too.

In [165]:
# http://scikit-learn.org/stable/modules/preprocessing.html#preprocessing
# https://stackoverflow.com/questions/14688391/how-to-apply-standardization-to-svms-in-scikit-learn
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.3,random_state = 5)

scaler = preprocessing.StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [166]:
from sklearn import svm
clf = svm.SVR(kernel = "rbf", C = 1, gamma = 0.1)
clf.fit(X_train_scaled)
y_pred = clf.predict(X_test.scaled)
y_pred.head()

TypeError: fit() missing 1 required positional argument: 'y'